@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-variant: small-caps;
	}
}

a.active {
	color: rgb(232, 232, 141);
}

.sysmessage {
	color: yellow;
	font-family: monospace;
	margin-bottom: 1rem;
	background-color: #333;
	width: fit-content;
	padding: .5rem;
}

.spinner {
	font-size: 6rem;
	margin-left: .5rem;
	color: #888;
	animation: spin infinite 2s linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}